body {
	background-color: #EEEEEE;
}

#topo-topo {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*background: #EEEEEE;*/
	background-image: url(../images/banner2.png);
	padding-top: 55px;
	padding-bottom: 30px;
}

#temos-felicidade {
	align-text: center;
	color: white;
	margin-top: 30px;
	margin-bottom: 15px;
}

#busca {
	height: 35px;
	width: 700px;
	border: solid 0,1px gray;
	position: relative;
	display: flex;
	margin-right: 5px;
	margin-bottom: 35px;
	border-radius: 5px;
}

#buscabtn:hover {
	background-color: black;
	transition: 2s;
}

#buscabtn {
	display: flex;
	position: relative;
	background-color: #D30707;
	color: white;
	height: 35px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
}

#tems {
	margin-bottom: 25px;
	color: white;
	font-size: 15px;
	margin-top: 0px;
}

div.produtos {
	height: 350px;
	width: 250px;
	background-color: white;
	margin-top: 10px;
	display: inline-block;
	position: relative;
	margin-left: 42px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#todososprodutos {
	margin-top: 40px;
	background-color: #EEEEEE;
	margin-bottom: 30px;
}

div#produtoesp {
	background-color: white;
	padding: 30px;
}

div#quemsomos {
	background: #EEEEEE;
	padding: 30px;
	background-color: white;
}

.titulosprodutos {
	padding: 10px;
	text-align: center;
}

.imagesprodutos {
	margin-left: 5.5px;
}

.descricaoprodutos {
	font-size: 14px;
	padding-bottom: 4px;
	text-align: center;
}

.button-saiba {
	align-items: center;
	margin-left: 7px;
	width: 235px;
	height: 25px;
	background-color: #D30707;
	border: none;
	color: white;
	border-radius: 5px;
}

.button-saiba:hover {
	background-color: black;
	transition: 2s;
}

.conteudoprodutoesp {
	float: left;
	position: relative;
	width: 930px;
	height: 500	px;
	margin-left: 10px;
}

.conteudoprodutoesp1 {
	float: left;
	position: relative;
	width: 500px;
	height: 500	px;
	margin-left: 10px;
}

.paragrafo-favorito {
	text-align: justify;
	line-height: 2;
	margin-top: 10px;
	padding-right: 30px;
}

#CupcakeHotPepperGourmet {
	margin-bottom: 20px;
}

#saibamaispepper {
	margin-top: 25px;
	height: 45px;
	width: 220px;
	background-color: #D30707;
	border: none;
	color: white;
	border-radius: 5px;
}

#saibamaispepper:hover {
	background-color: black;
	transition: 2s;
}

#conheca {
	margin-top: 15px;

}

#quemquem {
	border: solid 1px red;
	padding: 20px;
	background-color: white;
}

#nossosprodutos {
	margin-left: 30px;
	margin-bottom: 20px;
}